.navbar{
    padding: 0.25rem;
 }
 .search-container{
    flex-basis: 25%;
    border-radius: 1.5rem;
    background: var(--white)
 } 
.search-bar{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    margin: 0.5rem;
}
/* user profile styling */
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* address styling */
.slider-input-titles{
    margin-top: 3rem;
}
.wrapper{
    max-width: 50%;
    width: 100%;
    margin: 8rem auto;
    padding: 1rem;
    background: var(--white);
    box-shadow: 0 0 3px 3px var(--card-border);
}
.wrapper header{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5rem;
    text-align: center;
}
.wrapper nav{
    position: relative;
    height: 50px;
    width:80%;
    display: flex;
    align-items: center;
}
#home:checked ~ nav label.home,
#product:checked ~ nav label.product,
#help:checked ~ nav label.help,
#contact:checked ~ nav label.contact
{
    color: var(--white);
}
.wrapper nav label{
    display: block;
    height: 100%;
    width:100%;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    color:var(--primary-light);
    font-family: 17px;
    z-index: 1;
    position: relative;
}
.wrapper nav label i{
    padding-right: 4px;
}
.wrapper nav .slider{
    position: absolute;
    height: 100%;
    width: 25%;
    background: var(--primary-light);
    border-radius: 4px;
    z-index: 0;
    left:0;
    bottom:0;
    transition: all 0.1s ease;
}
#product:checked ~ nav .slider{
    left:25%;
}
#help:checked ~ nav .slider{
    left:50%;
}
#contact:checked ~ nav .slider{
    left:75%;
}
input[type="radio"]{
    display: none;
}

section .content{
    display: none;
}
section .content .title{
    font-size: 21px;
    font-weight: 700;
    margin: 30px 0 10px 0;
    padding: 2rem;
}
#home:checked ~ section .profile-content,
#product:checked ~ section .order-content,
#help:checked ~ section .account-content,
#contact:checked ~ section .address-content{
    display: block;
}
