.navbar{
    padding: 0.25rem;
 }
 .search-container{
    flex-basis: 25%;
    border-radius: 1.5rem;
    background: var(--white)
 } 
.search-bar{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    margin: 0.5rem;
}
.auth-container {
    height: 90vh;
    flex-direction: column;
}
.auth-main-container {
    flex-direction: column;
    width: 25rem;
    padding: 1.5rem;
    gap: 1.5rem;
    box-shadow: var(--secondary)5px 10px 30px 2px;
}
.auth-main,
.auth-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.2rem;
}
.auth-main input {
    border-radius: var(--secondary);
    border: 2px solid var(--secondary-light);
    font-size: 1rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}
.auth-main input::placeholder {
    font-size: 0.8rem;
}
.auth-email,
.auth-pwd {
    display: flex;
    flex-direction: column;
}
.auth-checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.1rem
}
.auth-checkbox label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}
.auth-checkbox a {
    color: var(--primary-color);
    margin-left: 1rem;
}
label[for=mail],
label[for=pwd] {
    margin-bottom: 0.5rem;
}
.link-btn{
    color: var(--white);
}
.btn-primary a{
    text-decoration: none;
}
