.homepage-container{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background:var(--linear-background);
}
.navbar{
    padding: 0.25rem;
 }
 .search-container{
    flex-basis: 25%;
    border-radius: 1.5rem;
    background: var(--white)
 } 
.search-bar{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    margin: 0.5rem;
}
.fa-search{
    color: var(--primary);
    margin-right: 0.625rem;
    cursor: pointer;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.image-container{
    margin: 3%;
    position: relative;
}
.brand-name{
    position: absolute;
    top: 5%;
    left: 5%;
    color: var(--dark);
    letter-spacing: 2px;
    font-weight: bolder;
    padding:1rem;
    background-color: var(--white);
}
.brand-msg{
    position: absolute;
    bottom: 5%;
    right:10%;
    color: var(--dark);
    background-color:var(--white);
    padding: 1rem;
}
