.homepage-container{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.image-container{
    margin: 3%;
    position: relative;
}
.brand-name{
    position: absolute;
    top: 5%;
    left: 2%;
    color: var(--primary);
    letter-spacing: 2px;
}
.check-products-btn{
    position: absolute;
    bottom: 5%;
    right:10%;
    letter-spacing: 0.125rem;
}
.check-products:hover{
    background-color: var(--primary);
}