.homepage {
    background: radial-gradient(#fff, #ffd6d6);
}

.homepage-container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: auto;
    max-width: 80rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.375rem;
}

.header-column {
    flex-basis: 50%;
    min-width: 18rem;
}

.header-column img {
    max-width: 100%;
    padding: 50px 0;
}

.header-column h4 {
    font-size: 40px;
    line-height: 40px;
    margin: 25px 0;
}

.category-container {
      background: radial-gradient(#fff, #ffd6d6);
}

.featued-products-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem;
    margin-top: 2rem;
}

.featued-products-row p {
    text-align: center;
}

.category-item {
    border-radius: 50%;
    flex-wrap: wrap;
    height: 11.875rem;
    width: 11.875rem;
    padding: 2rem 1rem 0;
    transition: transform .2s ease, -webkit-transform .2s ease;
    cursor: pointer;
    box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}

.category-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}