.middle-section{
    width: 100%;
    height: 80vh;
}
.container{
    width: 36rem;
    height: 30rem;
    border: 1px solid var(--secondary);;
    padding: 1.5rem;
}
.first-row{
     display: flex;
}
.owner{
    width: 100%;
    margin-right: 2.5rem;
}
.input-field{
    border: 1px solid var(--secondary-light);
}
.input-field input{
    width:fit-content;
    border:none;
    outline: none;
    padding: 0.5rem;
}
.selection select{
    padding: 0.625rem 1.25rem;
}
.payment-cards img{
    width: 4.5rem;
    padding: 0.625rem;
}
.confirm-btn{
    border-radius: 1.5rem;
    letter-spacing: 0.25rem;
}