.navbar{
    padding: 0.25rem;
 }
 .search-container{
    flex-basis: 25%;
    border-radius: 1.5rem;
    background: var(--white)
 } 
.search-bar{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    margin: 0.5rem;
}
/* single card styling  */
.single-card-container {
    margin-top: 5rem;
    height: 100vh;
}
.single-card{
    display: flex;
    box-shadow: var(--dark, 0.35 )0 0.25rem 1rem;
    padding: 1.5rem;
}
.single-card-img{
    width: 15rem;
    height: 20rem;
}
.single-card-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem
}
.single-card-title-header{
    font-size: 1.3rem;
}
.price{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: bold;
}
.star-ratings{
    color: var(--alert);
}
.single-card-right .msg{
    color:var(--danger);
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 1rem;
}
.single-card-right .tag-msg,
.other-info{
    font-size: 0.8rem;
}
.other-info li{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.single-card-right .add-cart, .wishlist-btn{
    margin: 0px;
    padding: 0.4rem 1rem
}
.tag-msg .fa-tag{
    color: var(--primary);
}